.htaccess
.DS_Store
.sass-cache/
robots.txt
node_modules/

1.xml
2.xml
3.xml
4.xml
5.xml
custom/plugins/subheading/
custom/plugins/tablepress/
custom/plugins/subheading/*
custom/plugins/tablepress/*
googlea6fdd65772e984c2.html

# Wordpress specific

styleguide/wordpress/
styleguide/wordpress/*
wordpress/
wordpress/*
wp-config.php
uploads/
uploads/*
upgrade/*
backup-db/*
advanced-cache.php
wp-cache-config.php
w3tc-config/*
cache/*
supercache/*
