

// TABLE OF CONTENTS

	// GLOBAL
	// HERO HEADERS
	// MAIN
	// SIDEBARS
	// HOME
	// ABOUT US
	// TEAM
	// SERVICES
	// BLOG
	// PROJECTS
	// SINGLE PROJECTS
	// CONTACT
	// FOOTER

// ============================================================

// GLOBAL

.index__single-post {
	margin-bottom: 80px;
	h2 {
		font-size: modular-scale(1);
		line-height: modular-scale(2);
		margin: 0;
	}
	p {
		font-size: modular-scale(0);
		line-height: modular-scale(1, 1.7rem);
	}
	&:last-child {
		margin-bottom: 0px;
	}
}








