

// TABLE OF CONTENTS

	// GLOBAL
	// RESEARCH

// ============================================================

// GLOBAL

.index__single-post {
	margin-bottom: 80px;
	h2 {
		font-size: modular-scale(1);
		line-height: modular-scale(2);
		margin: 0;
		@include media($bp-small) {
			font-size: modular-scale(0, 1.3rem);
			line-height: modular-scale(0, 1.3rem); 
		}
	}
	p {
		font-size: modular-scale(0);
		line-height: modular-scale(1, 1.7rem);
		@include media($bp-small) {
			font-size: modular-scale(0, 1rem);
			line-height: modular-scale(1, 1rem); 
		}
	}
	&:last-child {
		margin-bottom: 0px;
	}
}

// HEADERS

.research-hero,
.home-hero,
.small-hero  {
	div.animated {
		h1 {
			color: $white;
			font-size: modular-scale(4, 1.4rem);
			line-height: modular-scale(4, 1.8rem);
			text-shadow: 2px 2px rgba(0,0,0,0.4);
			@include media($bp-small) {
				font-size: modular-scale(2, 1.4rem);
				line-height: modular-scale(2, 1.8rem);
			}
			@include media($bp-med) {
				font-size: modular-scale(3, 1.4rem);
				line-height: modular-scale(3, 1.8rem);
			}
			@include media($bp-xlarge) {
				font-size: modular-scale(5, 1.4rem);
				line-height: modular-scale(5, 1.8rem);
			}
		}
	}
}

.small-hero.single-post {
	div.animated {
		h1 {
			color: $white;
			font-size: modular-scale(4, 1.4rem);
			line-height: modular-scale(4, 1.5rem);
			text-shadow: 2px 2px rgba(0,0,0,0.4);
			@include media($bp-small) {
				font-size: modular-scale(2, 1.4rem);
				line-height: modular-scale(2, 1.8rem);
			}
			@include media($bp-med) {
				font-size: modular-scale(3, 1.4rem);
				line-height: modular-scale(3, 1.8rem);
			}
		}
	}
}

// Homepage
.recent-news__home {
	font-size: modular-scale(3, 1.4rem);
	line-height: modular-scale(3, 1.5rem);
	margin-top: 0;
	margin-bottom: 30px;
	border-bottom: 2px solid rgba(0,0,0,0.3);
	padding-bottom: 10px;
	@include media($bp-small) {
		font-size: modular-scale(1, 1.4rem);
		line-height: modular-scale(1, 1.8rem);
	}
	@include media($bp-med) {
		font-size: modular-scale(2, 1.4rem);
		line-height: modular-scale(2, 1.8rem);
	}
}








