input.search-field.big-search {
	border: 0;
	border-bottom: 2px solid $grey;
	background: transparent;
	width: 80%;
	margin-right: 2%;
	font-size: modular-scale(0);
	@include media($bp-large) {
		font-size: modular-scale(1);
    }
}

input.error-submit.big-search {
	font-size: modular-scale(0);
	@include media($bp-large) {
		font-size: modular-scale(1);
    }
}

.search-container {
	@include media($bp-large) {
		margin: 0;
	}
	@include media($bp-med) {
		margin: 0;
	}
}

.secondary-nav {
	@include media($bp-large) {
		padding-top: 20px;
	}
	@include media($bp-med) {
		padding-top: 20px;
	}
}