header.clear {
	min-height: 100px;
	@include media($bp-small) {
		max-height: 150px;
	}
	@include media($bp-med) {
		max-height: 150px;
	}
}

.clear.main-header-clear {
	position: absolute;
	width: 100%;
	z-index: 1000;
}

img.left.top.logo {
	// padding-top: 40px;
	padding: 0 0 0 40px;
	max-width: 350px;
	@include media($bp-small) {
		max-width: 300px;
		margin: 0 2% 15px;
		padding-top: 25px;
	}
	@include media($bp-med) {
		max-width: 300px;
		margin: 0px 3% 15px;
		padding-top: 25px;
	}
}

.block {
	width: 100% !important;
}

section.main-header {
	padding: 0;
}

.block.main-header {
	@include media($bp-small) {
		margin: 0 auto;
	}
	@include media($bp-med) {
		margin: 0 auto;
	}
	@include media($bp-large) {
		// margin: 0 2%;
		width: 100%;
	}
	max-width: 100%;
}

.block.main-header.home-header {
	margin-top: 30px;
}

.main-header-wrapper {
}

.research-hero,
.home-hero {
	min-height: 500px;
	margin: -30px 0 0 0;	
	figure {
		height: 100%;
		margin: 0; 
	}
}

.research-hero,
.home-hero,
.small-hero  {
	width: 100%;
	background-position: center center;
	background-size: cover;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
}

.research-hero,
.home-hero,
.small-hero  {
	width: 100%;
	position: relative;
	figure {
		position: absolute;
		top: 0;
		left: 0;
		background-position: center center;
		width: 100%;
		height: 100%; // or 100%?
		filter: brightness(0.9) opacity(1);
		z-index: 50;
		margin: 0;
	}
	div.animated {
		position: relative;
		top: 0;
		left: 0;
		z-index: 51;
		margin: 0 15%;
		// margin-top: 150px;
		@include media($bp-small) {
			margin-top: 10%;
		}
		@include media($mobile-landscape) {
			margin-top: 10%;
		}
	}
}

.home-hero {
	a {
		color: $white;
		text-decoration: none;
		border-bottom: 2px solid rgba(255,255,255,0.5);
		&:hover {
			color: rgba(206,188,131,1);
		}
	}
	div.animated {
	padding-top: 50px;
	margin: 0 10%;
	}
}

.research-hero {
	min-height: 70vh;	
}

.small-hero {
	min-height: 450px;
	@include media($bp-small) {
		min-height: 400px;
	}
}

.home-hero {
	min-height: 80vh;
}