header.clear {
	height: 200px;
}

img.left.top.logo {
	padding-top: 40px;
}

.block {
	width: 100% !important;
}

#menu-utility-menu.menu {
	// padding-top: 40px;
}

#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega ul.sub-menu-1 > li.menu-item{
	padding: 0 10px;
	text-align: center;
	// right: 20px;
}

@media (min-width: 768px) {
	#megaMenu.megaResponsiveToggle ul.megaMenu {
		display: flex !important;
		@include align-items(center);
		@include justify-content(space-between);
	}	
}

.research-hero,
.home-hero {
	height: 500px;
	margin: -30px 0 0 0;	
	figure {
		height: 100%;
		margin: 0; 
	}
}

.research-hero,
.home-hero  {
	width: 100%;
	background-position: center center;
	background-size: cover;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
}

.research-hero,
.home-hero  {
	width: 100%;
	height: 80vh;
	position: relative;
	figure {
		position: absolute;
		top: 0;
		left: 0;
		background-position: center center;
		width: 100%;
		height: 100%; // or 100%?
		// filter: grayscale(80%) brightness(0.6) opacity(1);
		z-index: 50;
	}
	div.animated {
		position: relative;
		top: 0;
		left: 0;
		z-index: 51;
		margin: 0 15%;
		// margin-top: 150px;
		h1 {
			font-size: modular-scale(4);
			line-height: modular-scale(4);
		}
		@include media($bp-small) {
			margin-top: 10%;
		}
		@include media($mobile-landscape) {
			margin-top: 10%;
		}
	}
}

.research-hero {
	height: 60vh;	
}

.home-hero {
	height: 500px;
}