header {
    position: relative;
    max-width: 1366px;
    margin: 0 auto;
    font: 1.2em/1.3em 'Francois One', sans-serif;
}

header ul {
    margin: 0;
    padding: 0;
}

header .wrapper {
    position: absolute;
    padding: 20px;
    width: 100%;
    z-index: 100;   
    height: 100px;
}


header .nav-wrapper {
    display: flex;
    background-color:transparent; 
    width: 100%; 
    justify-content: space-between;
}

nav {
    margin-left: auto;
}


#main-nav ul li a {
    text-transform: uppercase;
	text-decoration:none;  
	margin: 0;
	padding: 10px 1em 10px 1em;
	color: #f8f2f2;
}

#main-nav ul li {
    list-style-type: none;
    display: inline-block;
}

#main-nav li {
    position: relative;
}

#main-nav ul ul {
    display: none;
    position: absolute;
    top: 34px;
    left: 0;
    color: #504343;
    z-index: 99999;
    padding: 10px 0;
    width: 280px;
    background: #b99f91;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

#main-nav li li {
    margin: 5px 0 5px 0;
}

#main-nav ul li:hover > ul {
    display: block;
}

#main-nav  ul li:hover > a {
    color: #504343;
	background: #b99f91;
}

#main-nav ul li a:hover, #main-nav ul li a:active {
	color: #504343;
	background: #b99f91;
}

.logo {
    max-width: 300px;
    height: auto;
}