.research-container--outer {
	overflow-x: hidden;
	@include outer-container;
	.research-container--inner {
	    @include media($bp-small) {
	    	margin: 25px 0;
	    }
	    @include media($bp-med) {
			padding: 25px 0;
	    }
    	@include media($bp-large) {
    		padding: 70px 0;
    		@include span-columns(10);
    		@include shift(1);
        }
	}
}

.research-blurb {
	margin: 0 7% 70px;
	@include media($bp-small) {
		margin-bottom: 0px;
	}
	p {
		font-size: modular-scale(0, 1.9rem);
		line-height: modular-scale(1, 1.9rem);
		@include media($bp-small) {
			font-size: modular-scale(0, 1.2rem);
			line-height: modular-scale(1, 1.2rem);
		}
	}
}

.research__single {
	padding-bottom: 70px;
	@include display(flex);
	// @include align-items(center);
	@include flex-direction(column);
	@include media($bp-small) {
		padding-bottom: 30px;
	}
	h2 {
		font-size: modular-scale(2);
		line-height: modular-scale(2);
		margin: 15px 0 30px;
	}
}

.research__single__bottom {
	@include display(flex);
	@include align-items(flex-start);
	@include justify-content(center);
	@include media($bp-small) {
		@include flex-direction(column);
	}
	@include media($bp-med) {
		@include flex-direction(column);
	}
}

.research__single__image {
	@include flex(0 0 30%);
	padding: 0 25px 0 0;
	position: relative;
	width: 100%;
	@include media($bp-small) {
		@include flex(1 0 auto);
		padding: 25px;
	}
	@include media($bp-med) {
		@include flex(1 0 auto);
		padding: 25px;
	}
	img {
		position: relative;
		width: 100%;
		height: auto;
		padding-top: 5px;
		@include media($bp-small) {
			
		}
	}
}

.research__single__content {
	padding: 0 25px;
	@include flex(0 0 70%);
	@include media($bp-small) {
		@include flex(1 0 auto);
		padding: 25px;
	}
	@include media($bp-med) {
		@include flex(1 0 auto);
		padding: 0 25px;
	}
	h2 {
		margin-top: 0;
	}
}

.research__single:nth-child(even) .research__single__bottom {
	.research__single__image {
		@include order(2);
		padding: 0 0 0 25px;
		@include media($bp-small) {
			@include order(-1);
			padding: 25px;
			padding-top: 0;
		}
		@include media($bp-med) {
			@include order(-1);
			padding: 25px;
		}
	}	
	.research__single__content {
		padding-left: 0;
		@include media($bp-small) {
			@include flex(1 0 auto);
			padding: 25px;
		}
		@include media($bp-med) {
			@include flex(1 0 auto);
			padding: 0 25px;
		}
	}
}

.research__single:last-child {
	padding-bottom: 0;
}

.research__blurb {
	p {
		font-size: modular-scale(0, 1.2rem);
		line-height: modular-scale(1, 1.3rem);
		margin-bottom: 15px;
	}
}

.research__buttons,
.research__cta {
	@include media($bp-small) {
		@include flex-direction(column);
	}
	button {
		font-size: modular-scale(0, 1.3rem);
		line-height: modular-scale(0, 1.3rem);
		text-transform: uppercase;
		padding: 15px 20px;
		background: #565655;
		border: 1px solid #565655;
		font-family: "Francois One";
		margin-top: 20px;
		&:hover {
			color: #565655;
			background: #a49771;
		}
	}
	button.right-button {
		margin-left: 20px;
		@include media($bp-small) {
			margin: 0;
			margin-top: 20px;
		}
	}
	a {
		text-decoration: none;
	}
}

.research__cta {
	width: 100%;
	min-height: 400px;
	background-color: #a49771;
	@include display(flex);
	// @include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);
	h2 {
		font-family: 'Georgia';
		color: $white;
		font-size: modular-scale(3);
		line-height: modular-scale(4, 1.3rem);
		margin: 0 20%;
		@include media($bp-small) {
			font-size: modular-scale(2);
			line-height: modular-scale(2);
			margin: 0 10%;
		}
		@include media($bp-med) {
			font-size: modular-scale(2);
			line-height: modular-scale(2);
			margin: 0 10%;
		}
	}
	button {
		padding: 20px 30px;
		margin-top: 30px;
		margin-left: 20%;
		background: #a49771;
		border: 1px solid #565655;
		font-family: "Francois One";
		font-size: modular-scale(1,1.4rem);
		line-height: modular-scale(1, 1.4rem);
		color: #565655;
		letter-spacing: 1px;
		@include media($bp-small) {
			margin-left: 10%;
		}
		@include media($bp-med) {
			margin-left: 10%;
		}
		&:hover {
			color: #a49771;
			background: #565655;
		}
	}
}